body {
  margin: 0;
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-main);
  font-weight: var(--font-regular);
}

a {
  color: inherit;
  text-decoration: none;
}
