.flex {
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: var(--color-card);
  padding: 20px;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

.mt-1 {
  margin-top: 8px;
}
.mt-2 {
  margin-top: 16px;
}
.mb-1 {
  margin-bottom: 8px;
}
