:root {
  /* Colors */
  --color-bg: rgb(21 24 16);
  --color-card-bg: rgb(47 36 28);
  --color-text: rgb(255, 255, 255);
  --color-button: rgb(249 178 123);
  --color-input-border: rgb(249 178 123);
  --color-icon-light: rgb(255, 255, 255);
  --color-icon-dark: rgb(2, 2, 2);
  --color-highlight: rgb(249 178 123);

  /* Font weights */
  --font-regular: 400;
  --font-semibold: 600;
  --font-bold: 700;

  /* Font family */
  --font-main: "Nunito", sans-serif;

  /* Radius */
  --radius: 8px;

  /* Shadows */
  --shadow: 0 4px 10px rgba(249, 178, 123, 0.2);
}
